{% extends '::base.html.twig' %}

{% block title%} Login {% endblock %}

{% block stylesheets %} 

	<style>
			*{
				padding: 0px;
				margin: 0px;
			}
			body{
				background-image: url({{ asset("bundles/eesn2backend/images/images8.jpg")}});
			}
			#container{
				width: 1024px;
				height: 760px;
				text-align: center;
				margin: auto;
				
			}
			#form-login{
				width: 500px;
				height: 400px;
				margin: auto;
				margin-top: 150px;
				padding-top: 100px;
				border: 1px solid #010;
				border-radius: 10px;
				background: -webkit-radial-gradient(center, ellipse, black,#000);
				background: -moz-radial-gradient(center, ellipse, black,#000);
			}
			#loading{
				margin-top: 10px;
			}
		</style>

 {% endblock %}

{% block body %}

	<div id='form-login'>
				<form>
					<fieldset>
						<legend><h2> LOGIN </h2></legend>
						<label for='user'>Usuario:</label>
						<input type='text'name='user' id='user' />
						<label for='pass'>Password:</label>
						<input type='password' name='pass' id='pass' /><br />
						<input id="login" class='btn' type='button' value='Login' />
						<div id="loading"></div>
					</fieldset>
				</form>
			</div>

{% endblock %}

{% block javascripts %}
	
	<script src="{{ asset('bundles/eesn2backend/js/jquery.base64.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/eesn2backend/js/login.js') }}" type="text/javascript"></script>

{% endblock %}