<div id="asignaturas">
	<span>Cuantas Asignaturas Desea Registrar?</span>
	<input class="number" type="number" min="1" max="15" value="" id="cantAsignaturas" /> 

	<div id="asigs">
		<span>Escriba Las Asignaturas, Separadas Por Comas</span>
		<input placeholder="Asignaturas" type="text" id="asig" value="" />
	</div>
	<br />
	<a id="cerrar" href="#close-modal" rel="modal:close" class="btn">CERRAR</a>

</div>