<div id="cargos">
	<span>Cuantos Cargos(Docentes) Desea Registrar?</span>
	<input class="number" type="number" min="1" value="" id="cantCargos" /> 

	<span>Escriba Los Cargos, Separados Por Comas</span>
	<input placeholder="Cargos" type="text" id="carg" value="" />
	
	<br />
	<a id="cerrar" href="#close-modal" rel="modal:close" class="btn">CERRAR</a>
</div>