<div id="cursos">
	<span>Cuantos Cursos Desea Registrar?</span>
	<input class="number" type="number" min="1" value="" id="cantCursos" /> 
	<br />
	<span>Escriba Los Cursos, Separados Por Comas</span>
	<input placeholder="Ejemplo: 1año, 2°, 3ro" type="text" id="curs" value="" />
	
	<br />
	<a id="cerrar" href="#close-modal" rel="modal:close" class="btn">CERRAR</a>
</div>