<div id="divisiones">
	<span>Cuantas Divisiones Desea Registrar?</span>
	<input class="number" type="number" min="1" value="" id="cantDivisiones" /> 
	<br />
	<span>Escriba Las Divisiones, Separadas Por Comas</span>
	<input placeholder="Ejemplo: 1°, 2da, 3ro" type="text" id="divs" value="" />
	
	<br />
	<a id="cerrar" href="#close-modal" rel="modal:close" class="btn">CERRAR</a>
</div>