<div id="normas">
	<span>Cuantas Normas(Legales) Desea Registrar?</span>
	<input class="number" type="number" min="1" value="" id="cantNormas" /> 

	<span>Escriba Las Normas, Separadas Por Comas</span>
	<input placeholder="Ejemplo: Dec. 5923/00 MEJE" type="text" id="norm" value="" />
	
	<br />
	<a id="cerrar" href="#close-modal" rel="modal:close" class="btn">CERRAR</a>
</div>