<div id="settings-welcome">
	<legend>Bienvenido/a Al Sistema</legend>
	<span>	
		<p>
			Para poder utilizar este sistema debe configurar la base de datos, no se preocupe, es muy sencillo.
		</p>
		<p>
			Lo que debe hacer es cerrar esta ventana haciendo click en el boton <strong>"CERRAR"</strong> que se encuentra debajo.
		</p>
		<p>
			Luego debe hacerle click a los botones que acontinuación aparecerán, lo único que debe hacer es completar con lo que se le ira pidiendo.
		</p>
		<p>
			¡GRACIAS POR UTILIZAR NUESTRO SISTEMA!
		</p>
	</span>
	<br />

	<a id="cerrar" href="#" rel="modal:close" class="btn">CERRAR</a>
</div>