<div id="settings">
		<legend>Configuración Del Sistema: </legend>
		<button id="button1" type="button" class="btn btn-primary">Asignaturas</button>
		<button id="button2" type="button" class="btn btn-primary">Cargos</button>
		<button id="button3" type="button" class="btn btn-primary">Cursos</button><br />
		<button id="button4" type="button" class="btn btn-primary">Divisiones</button>
		<button id="button5" type="button" class="btn btn-primary">Normas Legales</button>
		<button id="button6" type="button" class="btn btn-primary">Tipos de Estudiantes</button><br />
		<button id="button7" type="button" class="btn btn-primary">Tipos de Examenes</button>
		<button id="button8" type="button" class="btn btn-primary">Turnos</button><br />
		<button id="guardar" class="btn btn-success">Guardar</button>
		<img style="margin-top: 5%; width: 30px;height: 30px;" id="loading" src="{{asset('bundles/eesn2backend/images/loading4.gif')}}" />
	</div>