<div id="t-estudiantes">
	<span>Cuantos Tipos de Estudiantes Desea Registrar?</span>
	<input class="number" type="number" min="1" value="" id="cantT-Estudiantes" /> 

	<span>Escriba Los Tipos, Separados Por Comas</span>
	<input placeholder="Ejemplo: Regulares, Libres" type="text" id="t-est" value="" />
	
	<br />
	<a id="cerrar" href="#close-modal" rel="modal:close" class="btn">CERRAR</a>
</div>