<div id="t-examenes">
	<span>Cuantos Tipos de Examenes Desea Registrar?</span>
	<input class="number" type="number" min="1" value="" id="cantT-exam" /> 

	<span>Escriba Los Tipos, Separados Por Comas</span>
	<input placeholder="Ejemplo: Final, Complementario" type="text" id="t-exa" value="" />
	
	<br />
	<a id="cerrar" href="#close-modal" rel="modal:close" class="btn">CERRAR</a>
</div>