<div id="table-divisiones">
	<a id="nuevo_division" class="nuevo" href="#"><img title="nuevo" class="image" src="{{asset('bundles/eesn2backend/images/nuevo.png')}}" /></a>
	<table id="Divisiones-table" class="table table-striped">
		<thead>
			<tr>
				<th> # </th>
				<th> Divisi&oacute;n </th>
				<th> Acciones </th>
			</tr>
		</thead>
		<tbody id="Divisiones-tbody">
			
		</tbody>
	</table>
	
	<a id="ok" href="#close-modal" rel="modal:close" class="btn btn-primary guardarDivisiones">OK</a>
</div>