<div id="table-normas">
	<a id="nuevo_norma" class="nuevo" href="#"><img title="nuevo" class="image" src="{{asset('bundles/eesn2backend/images/nuevo.png')}}" /></a>
	<table id="Normas-table" class="table table-striped">
		<thead>
			<tr>
				<th> # </th>
				<th> Norma </th>
				<th> Acciones </th>
			</tr>
		</thead>
		<tbody id="Normas-tbody">
			
		</tbody>
	</table>
	
	<a id="ok" href="#close-modal" rel="modal:close" class="btn btn-primary">OK</a>
</div>