<div id="table-cursos">
	<a id="nuevo_curso" class="nuevo" href="#"><img title="nuevo" class="image" src="{{asset('bundles/eesn2backend/images/nuevo.png')}}" /></a>
	<table id="Cursos-table" class="table table-striped">
		<thead>
			<tr>
				<th> # </th>
				<th> Curso </th>
				<th> Acciones </th>
			</tr>
		</thead>
		<tbody id="Cursos-tbody">
			
		</tbody>
	</table>
	
	<a id="ok" href="#close-modal" rel="modal:close" class="btn btn-primary guardarCursos">OK</a>
</div>