<div id="table-turnos">
	<a id="nuevo_turno" class="nuevo" href="#"><img title="nuevo" class="image" src="{{asset('bundles/eesn2backend/images/nuevo.png')}}" /></a>
	<table id="Turnos-table" class="table table-striped">
		<thead>
			<tr>
				<th> # </th>
				<th> Turno </th>
				<th> Acciones </th>
			</tr>
		</thead>
		<tbody id="Turnos-tbody">
			
		</tbody>
	</table>
	
	<a id="ok" href="#close-modal" rel="modal:close" class="btn btn-primary guardarTurnos">OK</a>
</div>