<div id="table-cargos">
	<a id="nuevo_cargo" class="nuevo" href="#"><img title="nuevo" class="image" src="{{asset('bundles/eesn2backend/images/nuevo.png')}}" /></a>
	<table id="Cargos-table" class="table table-striped">
		<thead>
			<tr>
				<th> # </th>
				<th> Cargo </th>
				<th> Acciones </th>
			</tr>
		</thead>
		<tbody id="Cargos-tbody">
			
		</tbody>
	</table>
	
	<a id="ok" href="#close-modal" rel="modal:close" class="btn btn-primary guardarCargos">OK</a>
</div>