<div id="table-estudiantes">
	<a id="nuevo_estudiante" class="nuevo" href="#"><img title="nuevo" class="image" src="{{asset('bundles/eesn2backend/images/nuevo.png')}}" /></a>
	<table id="Estudiantes-table" class="table table-striped">
		<thead>
			<tr>
				<th> # </th>
				<th> Tipo </th>
				<th> Acciones </th>
			</tr>
		</thead>
		<tbody id="Estudiantes-tbody">
			
		</tbody>
	</table>
	
	<a id="ok" href="#close-modal" rel="modal:close" class="btn btn-primary guardarEstudiantes">OK</a>
</div>