<div id="turnos">
	<span>Cuantos Turnos Desea Registrar?</span>
	<input class="number" type="number" min="1" value="" id="cantTurnos" /> 
	<br />
	<span>Escriba Los Turnos, Separados Por Comas</span>
	<input placeholder="Ejemplo: mañana, tarde, noche" type="text" id="turn" value="" />
	
	<br />
	<a id="cerrar" href="#close-modal" rel="modal:close" class="btn">CERRAR</a>
</div>