input,select{width:160px;}
#form-inscripcion{
	width:30%;
	height:70%;
	position: absolute;
	top: 30%;
	left: 40%;
}

#alumno{width:77%;height:65%;}#padre,#madre,#tutor{width:38%;height:55%;}#nombre,#apellido,#dni,#debe-materia,#debe-materia{margin-right:10px;}#calle{margin-right:7px;}#fnacimiento,#nacionalidad{margin-right:20px;}#numero,#matricula,#lnacimiento{margin-right:15px;}#debe-materia,#Pvive,#Mvive{width:60px;}#materias-previas{width:280px;}