<div id="alumno">
	<span>Nombre:</span>
	<input value="" type="text" name="nombre" id="nombre" />
	<span> Apellido:</span>
	<input value="" type="text" name="apellido" id="apellido" />
	<span> Edad:</span>
	<input value="" type="text" name="edad" id="edad" />
	<br />

	<span style="margin-right: 20px;"> Calle:</span>
	<input value="" type="text" name="calle" id="calle" />
	<span> Numero:</span>
	<input value="" type="text" name="numero" id="numero" />
	<span> Mail:</span>
	<input value="" type="mail" name="mail" id="mail" />
	<br />

	<span style="margin-right: 25px;"> DNI:</span>
	<input value="" type="text" name="dni" id="dni" />
	<span style="margin-right: 15px;"> CUIL:</span>
	<input value="" type="text" name="cuil" id="cuil" />
	<br />

	<span style="margin-right: 25px;"> Nro.Matricula:</span>
	<input value="" type="text" name="matricula" id="matricula" />
	<span> Fecha Nacimiento:</span>
	<input value="" type="date" name="fnacimiento" id="fnacimiento" />
	<br />

	<span> Lugar Nacimiento:</span>
	<input value="" type="text" name="lnacimiento" id="lnacimiento" />
	<span style="margin-right: 30px;"> Nacionalidad:</span>
	<input value="" type="text" name="nacionalidad" id="nacionalidad" />

	<span style="margin-right: 55px;">Telefono:</span>
	<input value="" type="text" name="telefono" id="telefono" />
	<br />

	<span>Debe Materias?</span>
	<select id="debe-materia" >
		<option value="0">NO</option>
		<option value="1">SI</option>
	</select>

	<span id="cantidad-materias">
		<span>Cuantas?</span>
		<input max="12" min="0" style="width: 100px;" type="number" name="cuantas" id="cuantas" />
	</span>

	<span id="m-previas">
		<span>Cuales?</span>
		<input type="text" id="materias-previas" name="materias-previas" placeholder="Escribir materias separadas por comas (,)" value="" />
	</span>
	<br />

	<span>Curso a Matricularse:</span>
	<select id="cursos-matricula"></select>

	<span>Division a Matricularse:</span>
	<select id="divisiones-matricula"></select>
	<br />
	
	<button type="button" class="button4 btn btn-primary">Volver</button>
</div>