<div id="form-inscripcion">
	<legend>Datos Personales Del Alumno</legend>
	<button id="button1" type="button" class="btn btn-warning">Editar Datos</button>

	<legend>Datos de Los Padres: </legend>
	<button id="button-padre" type="button" class="btn btn-warning">Padre</button>
	<button id="button-madre" type="button" class="btn btn-warning">Madre</button>

	<legend>Datos del Tutor</legend>
	<button id="button3" type="button" class="btn btn-warning">Editar Datos</button>

	<br /><br />
	
	<button id="crear" type="button" class="btn btn-success">Crear Alumno</button>
</div>