<div id="form-inscripcion">
	<legend>Datos Personales Del Alumno</legend>
	<button id="button1" type="button" class="btn btn-primary">Editar Datos</button>

	<legend>Datos de Los Padres: </legend>
	<button id="button-padre" type="button" class="btn btn-primary">Padre</button>
	<button id="button-madre" type="button" class="btn btn-primary">Madre</button>

	<legend>Datos del Tutor</legend>
	<button id="button3" type="button" class="btn btn-primary">Editar Datos</button>

	<br /><br />
	<a href="#close-modal" rel="modal:close" class="btn">CERRAR</a>
</div>