<div id="madre">
	<legend>Madre: </legend>
	<span>Nombre:</span>
	<input value="" type="text" name="Mnombre" id="Mnombre" />
	<span> Apellido:</span>
	<input value="" type="text" name="Mapellido" id="Mapellido" />
	<span> Nacionalidad:</span>
	<input value="" type="text" name="Mnacionalidad" id="Mnacionalidad" />

	<span>Vive?</span>
	<select id="Mvive" >
		<option value="0">NO</option>
		<option value="1">SI</option>
	</select>
	<br />

	<div id="Mvive-si">
		<span>Dni:</span>
		<input value="" type="text" name="Mdni" id="Mdni" />
	</div>
	
	<br />
	<button type="button" class="button4 btn btn-primary">Volver</button>
</div>