<div id="padre">
	<legend>Padre: </legend>
	<span>Nombre:</span>
	<input value="" type="text" name="Pnombre" id="Pnombre" />
	<span> Apellido:</span>
	<input value="" type="text" name="Papellido" id="Papellido" />
	<span> Nacionalidad:</span>
	<input value="" type="text" name="Pnacionalidad" id="Pnacionalidad" />

	<span>Vive?</span>
	<select id="Pvive" >
		<option value="0">NO</option>
		<option value="1">SI</option>
	</select>
	<br />

	<div id="Pvive-si">
		<span>Dni:</span>
		<input value="" type="text" name="Pdni" id="Pdni" />
		<span>Profesion:</span>
		<input value="" type="text" name="Pprofesion" id="Pprofesion" />
	</div>

	<br />
	<button type="button" class="button4 btn btn-primary">Volver</button>
</div>