<div id="tutor">
	<div class="row-fluid">
		<div class="span12"><legend>Tutor: </legend></div>
	</div>
	<div class="row-fluid">
		<div class="span1"></div>
		<div class="span3"><span>Nombre:</span></div>
		<div class="span3"><input value="" type="text" name="Tnombre" id="Tnombre" /></div>
	</div>
	<div class="row-fluid">
		<div class="span1"></div>
		<div class="span3"><span> Apellido:</span></div>
		<div class="span3"><input value="" type="text" name="Tapellido" id="Tapellido" /></div>
	</div>
	<div class="row-fluid">
		<div class="span1"></div>
		<div class="span3"><span style="margin-right: 28px;">Dni:</span></div>
		<div class="span3"><input value="" type="text" name="Tdni" id="Tdni" /></div>
	</div>
	<div class="row-fluid">
		<div class="span1"></div>
		<div class="span3"><span style="margin-right: 24px;"> Cuil:</span></div>
		<div class="span3"><input value="" type="text" name="Tcuil" id="Tcuil" /></div>
	</div>
	<div class="row-fluid">
		<div class="span1"></div>
		<div class="span3"><span style="margin-right: 18px;"> Calle:</span></div>
		<div class="span3"><input value="" type="text" name="Tcalle" id="Tcalle" /></div>
	</div>
	<div class="row-fluid">
		<div class="span1"></div>
		<div class="span3"><span> Numero:</span></div>
		<div class="span3"><input value="" type="text" name="Tnumero" id="Tnumero" /></div>
	</div>
	<div class="row-fluid">
		<div class="span12"><a rel="modal:close" type="button" class="button4 btn btn-primary">Volver</a></div>
	</div>
</div>