<div id="tutor">
	<legend>Tutor: </legend>
	<span>Nombre:</span>
	<input value="" type="text" name="Tnombre" id="Tnombre" />
	<span> Apellido:</span>
	<input value="" type="text" name="Tapellido" id="Tapellido" />

	<span style="margin-right: 28px;">Dni:</span>
	<input value="" type="text" name="Tdni" id="Tdni" />
	<span style="margin-right: 24px;"> Cuil:</span>
	<input value="" type="text" name="Tcuil" id="Tcuil" />

	<span style="margin-right: 18px;"> Calle:</span>
	<input value="" type="text" name="Tcalle" id="Tcalle" />
	<span> Numero:</span>
	<input value="" type="text" name="Tnumero" id="Tnumero" />
	
	
	<br />
	<button type="button" class="button4 btn btn-primary">Volver</button>
</div>